parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        # new static() is intentional for allowing subclasses to return their own type
        - '#Unsafe usage of new static\(\)#'
